@import "@fontsource-variable/nunito";
@import "@fontsource/poppins/300.css";
@import "@fontsource/poppins/400.css";
@import "@fontsource/poppins/500.css";
@import "@fontsource/poppins/600.css";
@import "@fontsource/poppins/700.css";
@import "@fontsource/poppins/800.css";
@import "@fontsource/poppins/300-italic.css";
@import "@fontsource/poppins/400-italic.css";
@import "@fontsource/poppins/500-italic.css";
@import "@fontsource/poppins/600-italic.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.PhoneInputInput {
  border: none;
  padding: 4px;
}
.PhoneInputInput:focus {
  outline: none;
  box-shadow: none;
}
.PhoneInputCountryIcon--border {
  outline: none;
  box-shadow: none;
}
.PhoneInputCountrySelect {
  outline: none;
  box-shadow: none;
}
.PhoneInputCountry {
  align-items: center;
  gap: 8px;
}
.PhoneInputCountrySelectArrow {
  height: 8px;
  width: 8px;
  margin-top: -8px;
}

html {
  scrollbar-width: thin;
  scrollbar-color: #cccccc #ffffff;
}
