@import "@fontsource/poppins/300.css";
@import "@fontsource/poppins/400.css";
@import "@fontsource/poppins/500.css";
@import "@fontsource/poppins/600.css";
@import "@fontsource/poppins/700.css";
@import "@fontsource/poppins/800.css";
@import "@fontsource/poppins/300-italic.css";
@import "@fontsource/poppins/400-italic.css";
@import "@fontsource/poppins/500-italic.css";
@import "@fontsource/poppins/600-italic.css";
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
	--primary: #3A643B;
}

.dropdown-enter-active,
.dropdown-leave-active {
	transition: opacity 0.2s;
}

.dropdown-enter,
.dropdown-leave-to {
	opacity: 0;
}

.icons {
	width: 25px;
	height: auto;
	object-fit: cover;
}

.bigIcons {
	width: 60px;
	height: auto;
	object-fit: cover;
}

.links {
	font-size: 20px;
	color: black;

}

.flexClass {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flexEnd {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.flexColClass {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.rotateIcon {
	transition: .2s all ease-in;
	transform: rotate(180deg);
}

.active span {
	background-color: white;
}
.PhoneInputInput {
  border: none;
  padding: 4px;
}
.PhoneInputInput:focus {
  outline: none;
  box-shadow: none;
}
.PhoneInputCountryIcon--border {
  outline: none;
  box-shadow: none;
}
.PhoneInputCountrySelect {
  outline: none;
  box-shadow: none;
}
.PhoneInputCountry {
  align-items: center;
  gap: 8px;
}
.PhoneInputCountrySelectArrow {
  height: 8px;
  width: 8px;
  margin-top: -8px;
}
