@import "@fontsource-variable/nunito";
@import "@fontsource/poppins/300.css";
@import "@fontsource/poppins/400.css";
@import "@fontsource/poppins/500.css";
@import "@fontsource/poppins/600.css";
@import "@fontsource/poppins/700.css";
@import "@fontsource/poppins/800.css";
@import "@fontsource/poppins/300-italic.css";
@import "@fontsource/poppins/400-italic.css";
@import "@fontsource/poppins/500-italic.css";
@import "@fontsource/poppins/600-italic.css";
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import "@fontsource-variable/mulish";
/* @import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"); */
/* DIN pro is self hosting font */
@import url("https://db.onlinewebfonts.com/c/c9c60c88cb732119e5a9457f2d9cdc53?family=DINPro-Regular");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}

@font-face {
  font-family: "DINPro";
  src: url(fonts/DINPro.ttf) format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "DINPro";
  src: url(fonts/DINPro-Medium.ttf) format("truetype");
  font-weight: medium;
}

@font-face {
  font-family: "DINPro";
  src: url(fonts/DINPro-Bold.ttf) format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "DINPro";
  src: url(fonts/DINPro-Light.ttf) format("truetype");
  font-weight: lighter;
}

@font-face {
  font-family: "Nexa Light";
  src: url(fonts/Nexa-Light.ttf) format("truetype");
}

:root {
  --primary: #3a643b;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type=number] {
	-moz-appearance: textfield;
	appearance: textfield;
}

.dropdown-enter-active,
.dropdown-leave-active {
  transition: opacity 0.2s;
}

.dropdown-enter,
.dropdown-leave-to {
  opacity: 0;
}

.icons {
  width: 25px;
  height: auto;
  object-fit: cover;
}

.bigIcons {
  width: 60px;
  height: auto;
  object-fit: cover;
}

.links {
  font-size: 20px;
  color: black;
}

.flexClass {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexEnd {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flexColClass {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.rotateIcon {
  transition: 0.2s all ease-in;
  transform: rotate(180deg);
}

/* .active span {
  background-color: white;
} */
.PhoneInputInput {
  border: none;
  padding: 4px;
}
.PhoneInputInput:focus {
  outline: none;
  box-shadow: none;
}
.PhoneInputCountryIcon--border {
  outline: none;
  box-shadow: none;
}
.PhoneInputCountrySelect {
  outline: none;
  box-shadow: none;
}
.PhoneInputCountry {
  align-items: center;
  gap: 8px;
}
.PhoneInputCountrySelectArrow {
  height: 8px;
  width: 8px;
  margin-top: -8px;
}

html {
  scrollbar-width: thin;
  scrollbar-color: #cccccc #ffffff;
}
